<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Books4U</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link href="search.css" rel="stylesheet">
  <link href="bookprofile.css" rel="stylesheet">
</head>

<body class="pagebackground">
  <div class="container headerbackground2">
    <div class="jumbotron headerbackground2 center">
      <img src="img/Logo2.png">
      <h4> College Book Buying Simplified </h4>
    </div>
  </div>
  <div class="container headerbackground">
    <div class="jumbotron center">
      <h2>Book: Oceanography 3rd Edition</h2>
    </div>
    <div class="row cellpadding">
      <div class="col-md-6">
        <img alt="User Pic" src="img/BookPicture.jpg" class="img-circle img-responsive imgstuff">
      </div>
      <div class="col-md-6">
        <h3>Oceanography 3rd Edition</h3>
        <h4>By: Someman A. Away</h4>
        <h6>The third edition of Oceanography conveys Garrison's enthusiasm for oceanography to non-science students taking the introductory course.
        It is a streamlined version of his best-selling OCEANOGRAPHY text, but was created specifically to meet the needs of the shorter course.
        This text provides students with a basic understanding of the scientific questions, complexities, and uncertainties involved in ocean use
        and the role and importance of oceans in nurturing and sustaining life on the planet.</h6>
      </div>
    </div>
    <h3 style="text-align: center">Online Stores</h3>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8 padding">
        <table style="width: 100%" class="padding">
          <tr>
            <td>Online Store</td>
            <td>Price (Click To Buy)</td>
            <td>Shipping Options</td>
          </tr>
          <tr>
            <td>Chegg</td>
            <td><a href="checkout.html" class="btn btn-default">$64.99</a></td>
            <td>Free Shipping (USPS)</td>
          </tr>
          <tr>
            <td>Scholastic</td>
            <td><a href="checkout.html" class="btn btn-default">$89.99</a></td>
            <td>$4.99 Shipping (Fedex)</td>
          </tr>
          <tr>
            <td>Books.com</td>
            <td><a href="checkout.html" class="btn btn-default">$160.99</a></td>
            <td>Free Shipping (USPS or Fedex)</td>
          </tr>
          <tr>
            <td>Ebay</td>
            <td><a href="checkout.html" class="btn btn-default">$192.99</a></td>
            <td>$4.99 Shipping (Fedex)</td>
          </tr>
          <tr>
            <td>Amazon</td>
            <td><a href="checkout.html" class="btn btn-default">$201.99</a></td>
            <td>$4.99 Shipping (Fedex)</td>
          </tr>
        </table>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
