<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Books4U</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link href="search.css" rel="stylesheet">
  <link href="bookprofile.css" rel="stylesheet">
</head>

<body class="pagebackground">
  <div class="container headerbackground">
    <div class="jumbotron center">
      <img src="img/Logo2.png">
      <h4> College Book Buying Simplified </h4>
    </div>
  </div>
  <div class="container headerbackground">
    <div class="jumbotron center">
      <h2>Checkout</h2>
    </div>
    <div class="row padding">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <table style="width: 100%">
          <tr>
            <td>Name</td>
            <td><input type="text" class="form-control input-lg" placeholder="Enter Full Name..." /></td>
          </tr>
          <tr>
            <td>Address</td>
            <td><input type="text" class="form-control input-lg" placeholder="Enter Address..." /></td>
          </tr>
          <tr>
            <td>City</td>
            <td><input type="text" class="form-control input-lg" placeholder="Enter City..." /></td>
          </tr>
          <tr>
            <td>State</td>
            <td><input type="text" class="form-control input-lg" placeholder="Enter State..." /></td>
          </tr>
          <tr>
            <td>Zipcode</td>
            <td><input type="text" class="form-control input-lg" placeholder="Enter Zip Code..." /></td>
          </tr>
          <tr>
            <td>Card#</td>
            <td><input type="text" class="form-control input-lg" placeholder="Enter Card Number..." /></td>
          </tr>
          <tr>
            <td>Expiration Date</td>
            <td><input type="text" class="form-control input-lg" placeholder="Enter Expiration Date..." /></td>
          </tr>
          <tr>
            <td>CV</td>
            <td><input type="text" class="form-control input-lg" placeholder="Enter EV..." /></td>
          </tr>
        </table>
      </div>
      <div class="col-md-3">
      </div>
    </div>
    <div class="row padding centeringstuff">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <a href="complete.html" class="btn btn-default centeringstuff">Submit</a>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
