<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Books4U</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link href="search.css" rel="stylesheet">
  <link href="bookprofile.css" rel="stylesheet">
</head>
<body class="pagebackground">
  <div class="container headerbackground">
    <div class="jumbotron center">
      <img src="img/Logo2.png">
      <h4> College Book Buying Simplified </h4>
    </div>
  </div>
  <div class="container headerbackground">
    <h2 style="text-align:center">Purchase Complete</h2>
    <div style="text-align: center;">
        <input type="submit" name="btnSubmit" style="width:300px; height:100px;" value="Return Home"  onclick="window.location='search.html';"/>
    </div>
    <h3 style="text-align:center">Rate your purchase</h3>
    <div class="rating" style="text-align: center;">
    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div>
  </div>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
