.center {
    text-align:center;
    background-color: #ffffff;
}

.heading {
  font-size: 60px;
}

.pagebackground {
  background-color: #e6e6e6;
}

table, th, td {
    border: 1px solid black;
    padding: 15px;
}

.headerbackground{
  background-color: #ffffff;
  border: 12px solid #B22222;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
